<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207402516524-t4p2rmpdi476427b76m56mranl664fjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207402516524-t4p2rmpdi476427b76m56mranl664fjj</string>
	<key>API_KEY</key>
	<string>AIzaSyCIWEWTT97AX0Eqx0br9FNn6A5AEOAlUpM</string>
	<key>GCM_SENDER_ID</key>
	<string>207402516524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-52a13</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-52a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207402516524:ios:6064caf23f724b2c73d189</string>
</dict>
</plist>